/** @format */

.navbar {
	position: relative;
	z-index: 20;

	&-navigation {
		display: flex;

		&-left {
			background-color: $color-dark;
			height: 100vh;
			left: -50vw;
			position: fixed;
			width: 50vw;
			transition: left 0.8s cubic-bezier(1, 0, 0, 1);

			.left-img {
				border-radius: 10px;
				box-shadow: 0 15px 60px rgba($color: $color-black, $alpha: 0.4);
				opacity: 0.7;
				position: absolute;
				width: 50%;
			}

			.left-img-1 {
				left: 15%;
				top: 15%;
			}
			.left-img-2 {
				left: 25%;
				top: 35%;
			}
			.left-img-3 {
				left: 35%;
				top: 55%;
			}
		}

		&-right {
			background-color: #1f1d1d;
			height: 100vh;
			position: fixed;
			right: -50vw;
			width: 50vw;
			transition: right 0.8s cubic-bezier(1, 0, 0, 1);
			@include center;
		}

		.nav-list {
			&-item {
				list-style: none;
			}

			&-link {
				color: $color-secondary;
				display: block;
				font-family: $font-dancingScript;
				font-size: 50px;
				margin: 20px;
				text-align: center;
				text-decoration: none;
				transition: all 0.5s;
				@include textStyles(capitalize);

				&:hover {
					color: $color-primary;
					letter-spacing: 4px;
				}
			}
		}
	}
}

// This way we can manipulate the navbar only with css
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
	left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
	right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
	transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
	transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
	opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
	transform: rotateZ(40deg);
}

.header {
	background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
		url(../images/bg.jpeg) center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;

	.brand {
		align-items: center;
		display: flex;
		@include centering(15%, 50%);
	}

	&-banner {
		text-align: center;
		@include centering(50%, 50%);
	}
}

.about-us {
	align-items: center;
	display: flex;
	height: 90vh;

	&-left {
		position: relative;
		left: -200px;
		width: 40%;

		img {
			opacity: 0.7;
			width: 100%;
		}
	}

	&-right {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding: 0 100px;
		width: 60%;

		.stars {
			margin: 30px 0;
		}

		.star {
			color: $color-primary;
			font-size: 15px;
			margin-left: 10px;
		}

		.description {
			color: $color-secondary;
			font-family: $font-josefinSans;
			font-size: 25px;
			font-style: italic;
			text-align: justify;

			&::first-letter {
				padding-left: 15px;
			}
		}
	}
}

.gallery {
	.cards-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

.footer {
	flex-direction: column;
	padding: 70px 0;
	@include center;

	&-header {
		align-items: center;
		display: flex;
		margin-bottom: 70px;
	}

	.social-media {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
		width: 300px;

		&-item {
			list-style: none;
		}

		&-link {
			color: $color-secondary;
			font-size: 50px;
			text-decoration: none;
			transition: color 0.7s;

			&:hover {
				color: $color-primary;
			}
		}
	}

	&-copyright {
		color: $color-secondary;
		font-family: $font-josefinSans;
		font-size: 18px;
		@include textStyles(capitalize);
	}
}
